## Cleaning `Bluebikes` Dataset

## Data preparation

Import necessary packages

In [2]:
import pandas as pd
import numpy as np

Initialise Bluebikes Dataset

In [5]:
bluebikes = pd.read_csv("bluebikes_2017_2018.csv", index_col="index")
bluebikes.head()

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
index,,,,,,,,,
0,2018-08-28 07:01:05,2018-08-28 07:06:57,137,42.398365,-71.107818,220,42.396384,-71.120105,3296
1,2018-04-11 18:21:53,2018-04-11 18:35:06,122,42.345733,-71.100694,179,42.355601,-71.103945,1766
2,2018-11-28 17:08:21,2018-11-28 17:22:44,22,42.352175,-71.055547,98,42.371848,-71.060292,2585
3,2018-05-29 08:13:13,2018-05-29 08:23:12,88,42.374035,-71.101427,107,42.362500,-71.088220,2768
4,2018-07-13 06:26:24,2018-07-13 06:34:04,47,42.362811,-71.056067,64,42.351004,-71.049300,1002

In [6]:
bluebikes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3081600 entries, 0 to 3081599
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   start_time         object
 1   end_time           object
 2   start_station_id   int64
 3   start_station_lat  float64
 4   start_station_lon  float64
 5   end_station_id     int64
 6   end_station_lat    float64
 7   end_station_lon    float64
 8   bike_id            int64
dtypes: float64(4), int64(3), object(2)
memory usage: 235.1+ MB

In [7]:
bluebikes.describe()

,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
count,3.081600e+06,3.081600e+06,3.081600e+06,3.081600e+06,3.081600e+06,3.081600e+06,3.081600e+06
mean,9.142570e+01,4.235739e+01,-7.108600e+01,9.128123e+01,4.235695e+01,-7.108548e+01,1.779580e+03
std,6.351354e+01,1.372931e-01,2.304351e-01,6.373496e+01,2.751284e-01,2.636222e-01,1.140185e+03
min,1.000000e+00,0.000000e+00,-7.356692e+01,1.000000e+00,-9.000000e+01,-7.356692e+01,1.000000e+00
25%,4.400000e+01,4.234876e+01,-7.110394e+01,4.400000e+01,4.234876e+01,-7.110394e+01,8.170000e+02
50%,7.500000e+01,4.235810e+01,-7.108822e+01,7.500000e+01,4.235810e+01,-7.108809e+01,1.666000e+03
75%,1.310000e+02,4.236567e+01,-7.106629e+01,1.310000e+02,4.236567e+01,-7.106526e+01,2.682000e+03
max,3.780000e+02,4.550509e+01,0.000000e+00,3.790000e+02,4.550509e+01,0.000000e+00,4.553000e+03

In [8]:
bluebikes.count()

start_time           3081600
end_time             3081600
start_station_id     3081600
start_station_lat    3081600
start_station_lon    3081600
end_station_id       3081600
end_station_lat      3081600
end_station_lon      3081600
bike_id              3081600
dtype: int64

## Handling missing numerical data

Check whether numerical data is missing

In [21]:
for col in bluebikes:
    print(bluebikes[bluebikes[col].isnull() == True])

Empty DataFrame
Columns: [start_time, end_time, start_station_id, start_station_lat, start_station_lon, end_station_id, end_station_lat, end_station_lon, bike_id]
Index: []
Empty DataFrame
Columns: [start_time, end_time, start_station_id, start_station_lat, start_station_lon, end_station_id, end_station_lat, end_station_lon, bike_id]
Index: []
Empty DataFrame
Columns: [start_time, end_time, start_station_id, start_station_lat, start_station_lon, end_station_id, end_station_lat, end_station_lon, bike_id]
Index: []
Empty DataFrame
Columns: [start_time, end_time, start_station_id, start_station_lat, start_station_lon, end_station_id, end_station_lat, end_station_lon, bike_id]
Index: []
Empty DataFrame
Columns: [start_time, end_time, start_station_id, start_station_lat, start_station_lon, end_station_id, end_station_lat, end_station_lon, bike_id]
Index: []
Empty DataFrame
Columns: [start_time, end_time, start_station_id, start_station_lat, start_station_lon, end_station_id, end_station_lat, end_station_lon, bike_id]
Index: []
Empty DataFrame
Columns: [start_time, end_time, start_station_id, start_station_lat, start_station_lon, end_station_id, end_station_lat, end_station_lon, bike_id]
Index: []
Empty DataFrame
Columns: [start_time, end_time, start_station_id, start_station_lat, start_station_lon, end_station_id, end_station_lat, end_station_lon, bike_id]
Index: []
Empty DataFrame
Columns: [start_time, end_time, start_station_id, start_station_lat, start_station_lon, end_station_id, end_station_lat, end_station_lon, bike_id]
Index: []

There are no numerical data missing

## Normalize data and rescale it

## Rebalance dataset

## Compute variable idle_time

Calculating the idle_time = end_time - start_time and inserting it into the dataset

## Normalize database

Extracting data from the dataset and save them in a different set

## Visualization of the data

Import necessary packages

In [22]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
%matplotlib inline

## Some possible Features