In [1]:
#import der notwendigen packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#einlesen der Daten

data = pd.read_csv(r"D:\Benutzer\Jonathan Lanz\Dokumente\Uni\Data Science and Machine Learning\TeamProjektDaten\bluebikes_2017_2018")
data.head(100)

,Unnamed: 0,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
0,0,2018-08-28 07:01:05,2018-08-28 07:06:57,137,42.398365,-71.107818,220,42.396384,-71.120105,3296
1,1,2018-04-11 18:21:53,2018-04-11 18:35:06,122,42.345733,-71.100694,179,42.355601,-71.103945,1766
2,2,2018-11-28 17:08:21,2018-11-28 17:22:44,22,42.352175,-71.055547,98,42.371848,-71.060292,2585
3,3,2018-05-29 08:13:13,2018-05-29 08:23:12,88,42.374035,-71.101427,107,42.362500,-71.088220,2768
4,4,2018-07-13 06:26:24,2018-07-13 06:34:04,47,42.362811,-71.056067,64,42.351004,-71.049300,1002
...,...,...,...,...,...,...,...,...,...,...
95,95,2018-05-31 16:47:00,2018-05-31 17:09:33,182,42.367690,-71.071163,32,42.345194,-71.101697,1186
96,96,2017-09-21 11:47:24,2017-09-21 11:54:10,31,42.348810,-71.041677,22,42.352175,-71.055547,742
97,97,2017-06-27 08:34:23,2017-06-27 09:02:02,182,42.367690,-71.071163,109,42.365908,-71.064467,1113
98,98,2018-07-14 13:33:33,2018-07-14 13:48:06,20,42.359912,-71.051430,190,42.365673,-71.064263,1190
99,99,2017-10-01 15:05:17,2017-10-01 15:21:04,22,42.352175,-71.055547,119,42.335741,-71.038770,1635

In [3]:
#algemeine Informationen des Datensatzes

print(data.info)

<bound method DataFrame.info of          Unnamed: 0           start_time             end_time  \
0                 0  2018-08-28 07:01:05  2018-08-28 07:06:57
1                 1  2018-04-11 18:21:53  2018-04-11 18:35:06
2                 2  2018-11-28 17:08:21  2018-11-28 17:22:44
3                 3  2018-05-29 08:13:13  2018-05-29 08:23:12
4                 4  2018-07-13 06:26:24  2018-07-13 06:34:04
...             ...                  ...                  ...
3081595     3081595  2018-11-11 16:21:53  2018-11-11 17:01:29
3081596     3081596  2017-08-02 08:28:53  2017-08-02 08:45:32
3081597     3081597  2017-08-19 13:41:02  2017-08-19 13:48:03
3081598     3081598  2018-07-11 16:03:06  2018-07-11 16:14:15
3081599     3081599  2018-08-21 08:46:46  2018-08-21 08:49:14

         start_station_id  start_station_lat  start_station_lon  \
0                     137          42.398365         -71.107818
1                     122          42.345733         -71.100694
2                      22          42.352175         -71.055547
3                      88          42.374035         -71.101427
4                      47          42.362811         -71.056067
...                   ...                ...                ...
3081595               160          42.337586         -71.096271
3081596                99          42.385582         -71.113341
3081597                47          42.362811         -71.056067
3081598                70          42.372217         -71.121881
3081599               114          42.402038         -71.126533

         end_station_id  end_station_lat  end_station_lon  bike_id
0                   220        42.396384       -71.120105     3296
1                   179        42.355601       -71.103945     1766
2                    98        42.371848       -71.060292     2585
3                   107        42.362500       -71.088220     2768
4                    64        42.351004       -71.049300     1002
...                 ...              ...              ...      ...
3081595              81        42.352409       -71.062679     3559
3081596              80        42.361962       -71.092053     1113
3081597              59        42.351356       -71.059367      700
3081598             105        42.357219       -71.113872     1325
3081599             100        42.396969       -71.123024     3233

[3081600 rows x 10 columns]>

In [4]:
#algemeine Informationen des Datensatzes

print(data.describe())

         Unnamed: 0  start_station_id  start_station_lat  start_station_lon  \
count  3.081600e+06      3.081600e+06       3.081600e+06       3.081600e+06
mean   1.540800e+06      9.142570e+01       4.235739e+01      -7.108600e+01
std    8.895814e+05      6.351354e+01       1.372931e-01       2.304351e-01
min    0.000000e+00      1.000000e+00       0.000000e+00      -7.356692e+01
25%    7.703998e+05      4.400000e+01       4.234876e+01      -7.110394e+01
50%    1.540800e+06      7.500000e+01       4.235810e+01      -7.108822e+01
75%    2.311199e+06      1.310000e+02       4.236567e+01      -7.106629e+01
max    3.081599e+06      3.780000e+02       4.550509e+01       0.000000e+00

       end_station_id  end_station_lat  end_station_lon       bike_id
count    3.081600e+06     3.081600e+06     3.081600e+06  3.081600e+06
mean     9.128123e+01     4.235695e+01    -7.108548e+01  1.779580e+03
std      6.373496e+01     2.751284e-01     2.636222e-01  1.140185e+03
min      1.000000e+00    -9.000000e+01    -7.356692e+01  1.000000e+00
25%      4.400000e+01     4.234876e+01    -7.110394e+01  8.170000e+02
50%      7.500000e+01     4.235810e+01    -7.108809e+01  1.666000e+03
75%      1.310000e+02     4.236567e+01    -7.106526e+01  2.682000e+03
max      3.790000e+02     4.550509e+01     0.000000e+00  4.553000e+03

In [6]:
#null-values zählen

data.isnull().sum()

Unnamed: 0           0
start_time           0
end_time             0
start_station_id     0
start_station_lat    0
start_station_lon    0
end_station_id       0
end_station_lat      0
end_station_lon      0
bike_id              0
dtype: int64

In [7]:
#Prozent der Null-Values (Ich weiß das war überflüssig)

data.isnull().sum().sum()/len(data)

0.0

In [5]:
#Übertragen der station-daten in zwei neue Datensätze. Diese werde ich noch weiter reinigen und danach in einem Datesatz wieder zusammenfassen. Ich versuche außerdem noch wiederholungen von Daten auszufiltern.

start_station_data = data.loc[:, ['start_station_id', 'start_station_lat', 'start_station_lon']].copy()
end_station_data = data.loc[:, ['end_station_id', 'end_station_lat', 'end_station_lon']].copy()

start_station_data.sort_values(['start_station_id'], inplace=True)
end_station_data.sort_values(['end_station_id'], inplace=True)

print(len(start_station_data))
print(len(end_station_data))

3081600
3081600

In [21]:
#Bis zum Entfernen der ausgelagerten Spalten kommt jetzt nur Unfertiger Code zum erbessern der ausgeagerten stationsinformationen. Diese Befehle müsst ihr euch also noch nicht anschauen, da sie eh noch nicht funktionieren. Die betreffenden Zellen habe ich mit einem X versehen.

grouped = start_station_data.groupby('start_station_id')
start_station_data = start_station_data.assign(prev_start_station_lat=grouped['start_station_lat'].shift())
start_station_data.head(100)

,start_station_id,start_station_lat,start_station_lon,prev_start_station_lat
1803451,1,42.387151,-71.075978,NaN
119377,1,42.387151,-71.075978,42.387151
340262,1,42.387151,-71.075978,42.387151
2340432,1,42.387151,-71.075978,42.387151
2886498,1,42.387151,-71.075978,42.387151
...,...,...,...,...
2397290,1,42.387151,-71.075978,42.387151
700712,1,42.387151,-71.075978,42.387151
1895541,1,42.387151,-71.075978,42.387151
1072059,1,42.387151,-71.075978,42.387151
1862996,1,42.387151,-71.075978,42.387151

In [30]:
#X

start_station_data['different_lat'] = 0  # Initialisiere die Spalte 'different_lat' mit Nullen

# Gruppiere die Daten nach 'start_station_id'
grouped = start_station_data.groupby('start_station_id')

# Iteriere über jede Gruppe
for _, group in grouped:
    # Überprüfe die Bedingung für die Gruppe
    group['different_lat'] = np.where(group['start_station_lat'] != group['prev_start_station_lat'], 1, 0)
    # Aktualisiere die entsprechenden Einträge in der ursprünglichen DataFrame 'start_station_data'
    start_station_data.loc[group.index, 'different_lat'] = group['different_lat']

start_station_data.head(10000)

,start_station_id,start_station_lat,start_station_lon,prev_start_station_lat,different_lat
1803451,1,42.387151,-71.075978,NaN,1
119377,1,42.387151,-71.075978,42.387151,0
340262,1,42.387151,-71.075978,42.387151,0
2340432,1,42.387151,-71.075978,42.387151,0
2886498,1,42.387151,-71.075978,42.387151,0
...,...,...,...,...,...
1630932,3,42.340115,-71.100619,42.340115,0
3059526,3,42.340115,-71.100619,42.340115,0
1599342,3,42.340115,-71.100619,42.340115,0
1342709,3,42.340115,-71.100619,42.340115,0
1406968,3,42.340115,-71.100619,42.340115,0

In [23]:
#X

start_station_data['different_lat'] = start_station_data.apply(lambda row: 1 if row['start_station_lat'] != row['prev_start_station_lat'] else 0, axis=1)
start_station_data.head(100)

,start_station_id,start_station_lat,start_station_lon,prev_start_station_lat,different_lat
1803451,1,42.387151,-71.075978,NaN,1
119377,1,42.387151,-71.075978,42.387151,0
340262,1,42.387151,-71.075978,42.387151,0
2340432,1,42.387151,-71.075978,42.387151,0
2886498,1,42.387151,-71.075978,42.387151,0
...,...,...,...,...,...
2397290,1,42.387151,-71.075978,42.387151,0
700712,1,42.387151,-71.075978,42.387151,0
1895541,1,42.387151,-71.075978,42.387151,0
1072059,1,42.387151,-71.075978,42.387151,0
1862996,1,42.387151,-71.075978,42.387151,0

In [29]:
#X

start_station_data['different_lat'].sum()

257668

In [22]:
#X

start_station_data['different_lat'] = pd.NaT
grouped = start_station_data.groupby('start_station_id')
for start_station_id, group in grouped:
    if group['start_station_lat'] == group['prev_start_station_lat']:
        group['different_lat'] = 1
    else:
        group['different_lat'] = 0
    data.loc[group.index, 'different_lat'] = group['different_lat']

start_station_data.head(100)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [8]:
#Entfernen der ausgelagerten Spalten

data = data.drop(['start_station_lat', 'start_station_lon', 'end_station_lat', 'end_station_lon'], axis=1)
data.head(100)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id
0,0,2018-08-28 07:01:05,2018-08-28 07:06:57,137,220,3296
1,1,2018-04-11 18:21:53,2018-04-11 18:35:06,122,179,1766
2,2,2018-11-28 17:08:21,2018-11-28 17:22:44,22,98,2585
3,3,2018-05-29 08:13:13,2018-05-29 08:23:12,88,107,2768
4,4,2018-07-13 06:26:24,2018-07-13 06:34:04,47,64,1002
...,...,...,...,...,...,...
95,95,2018-05-31 16:47:00,2018-05-31 17:09:33,182,32,1186
96,96,2017-09-21 11:47:24,2017-09-21 11:54:10,31,22,742
97,97,2017-06-27 08:34:23,2017-06-27 09:02:02,182,109,1113
98,98,2018-07-14 13:33:33,2018-07-14 13:48:06,20,190,1190
99,99,2017-10-01 15:05:17,2017-10-01 15:21:04,22,119,1635

In [9]:
#start_time und end_time sind nicht vom typ datetime.

data.dtypes

Unnamed: 0           int64
start_time          object
end_time            object
start_station_id     int64
end_station_id       int64
bike_id              int64
dtype: object

In [9]:
#start_time und end_time werden zum typ datetime gecastet.

data['start_time'] = pd.to_datetime(data['start_time'])
data['end_time'] = pd.to_datetime(data['end_time'])

data.dtypes

Unnamed: 0                   int64
start_time          datetime64[ns]
end_time            datetime64[ns]
start_station_id             int64
end_station_id               int64
bike_id                      int64
dtype: object

In [10]:
#Für uns unwchtige Daten, also daten, die nicht zu den Jahren 2017 und 2018 gehören werden aussortiert.

data = data[(data['start_time'].dt.year >= 2017) & (data['end_time'].dt.year <= 2018)]

data.reset_index(drop=True, inplace=True)

In [11]:
#Neue Spalte namens prev_end_time wird erstellt und mit der end-time des vorgängers versehen (Deswegen wird bevor dies passiert erst einmal der Datensatz sortiert).

data.sort_values(['bike_id', 'start_time'], inplace=True)

grouped = data.groupby('bike_id')
data = data.assign(prev_end_time=grouped['end_time'].shift())

data.head(100)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id,prev_end_time
2789488,2789512,2017-01-05 16:45:24,2017-01-05 17:01:43,151,16,1,NaT
2093523,2093543,2017-01-06 08:54:23,2017-01-06 09:00:30,16,39,1,2017-01-05 17:01:43
1226975,1226989,2017-01-06 09:07:51,2017-01-06 09:22:12,39,43,1,2017-01-06 09:00:30
130262,130262,2017-03-06 18:37:43,2017-03-06 18:40:16,21,46,1,2017-01-06 09:22:12
689589,689592,2017-03-07 09:17:09,2017-03-07 09:24:10,46,67,1,2017-03-06 18:40:16
...,...,...,...,...,...,...,...
1286877,1286891,2017-04-19 18:25:56,2017-04-19 18:31:28,68,67,1,2017-04-19 16:33:59
1072353,1072363,2017-04-19 18:39:40,2017-04-19 18:49:12,67,88,1,2017-04-19 18:31:28
2548036,2548057,2017-04-20 07:55:42,2017-04-20 08:06:11,88,84,1,2017-04-19 18:49:12
1287448,1287462,2017-04-20 16:40:46,2017-04-20 16:58:30,84,179,1,2017-04-20 08:06:11
345443,345444,2017-04-20 17:03:24,2017-04-20 17:10:35,179,68,1,2017-04-20 16:58:30

In [12]:
#Berechnung der idle_time mithilfe der davor neu angelegten Spalte.

data['idle_time'] = pd.NaT
grouped = data.groupby('bike_id')
for bike_id, group in grouped:
    group['idle_time'] = group['start_time'] - group['prev_end_time']
    data.loc[group.index, 'idle_time'] = group['idle_time']

data.head(100)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id,prev_end_time,idle_time
2789488,2789512,2017-01-05 16:45:24,2017-01-05 17:01:43,151,16,1,NaT,NaT
2093523,2093543,2017-01-06 08:54:23,2017-01-06 09:00:30,16,39,1,2017-01-05 17:01:43,0 days 15:52:40
1226975,1226989,2017-01-06 09:07:51,2017-01-06 09:22:12,39,43,1,2017-01-06 09:00:30,0 days 00:07:21
130262,130262,2017-03-06 18:37:43,2017-03-06 18:40:16,21,46,1,2017-01-06 09:22:12,59 days 09:15:31
689589,689592,2017-03-07 09:17:09,2017-03-07 09:24:10,46,67,1,2017-03-06 18:40:16,0 days 14:36:53
...,...,...,...,...,...,...,...,...
1286877,1286891,2017-04-19 18:25:56,2017-04-19 18:31:28,68,67,1,2017-04-19 16:33:59,0 days 01:51:57
1072353,1072363,2017-04-19 18:39:40,2017-04-19 18:49:12,67,88,1,2017-04-19 18:31:28,0 days 00:08:12
2548036,2548057,2017-04-20 07:55:42,2017-04-20 08:06:11,88,84,1,2017-04-19 18:49:12,0 days 13:06:30
1287448,1287462,2017-04-20 16:40:46,2017-04-20 16:58:30,84,179,1,2017-04-20 08:06:11,0 days 08:34:35
345443,345444,2017-04-20 17:03:24,2017-04-20 17:10:35,179,68,1,2017-04-20 16:58:30,0 days 00:04:54

In [13]:
#idle_time wird zum Typ timedelta umgecastet.

data['idle_time'] = pd.to_timedelta(data['idle_time'])
data.dtypes

Unnamed: 0                    int64
start_time           datetime64[ns]
end_time             datetime64[ns]
start_station_id              int64
end_station_id                int64
bike_id                       int64
prev_end_time        datetime64[ns]
idle_time           timedelta64[ns]
dtype: object

In [14]:
#negative idle_time und damit einhergehende Überschneidungen von verschiedenen Ausleihungen eines Rads werden seperat gespeichert.

negative_idle_time = data[data['idle_time'] < pd.Timedelta(0)]

negative_idle_time.head(100)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id,prev_end_time,idle_time
2244910,2244930,2017-05-09 08:01:44,2017-05-09 08:33:13,133,91,1,2017-09-10 19:28:30,-125 days +12:33:14
3026149,3026176,2018-02-02 14:40:13,2018-02-02 15:05:19,130,81,1,2018-08-17 17:00:23,-197 days +21:39:50
1324536,1324550,2017-06-26 15:23:40,2017-06-26 15:29:13,103,41,4,2017-10-06 10:27:42,-102 days +04:55:58
1746499,1746516,2017-11-05 01:16:53,2017-11-05 01:27:34,88,149,4,2017-11-05 01:19:07,-1 days +23:57:46

In [15]:
#Die gespeicherten negativen idle_times werden aus dem eigentlichen Datensatz gelöscht

data_cleaned = data.drop(negative_idle_time.index)

print(len(data))
print(len(data_cleaned))

3081573
3081569

In [16]:
#data wird geupdatet.

data = data_cleaned
len(data)

3081569

In [17]:
#Umrechnung der idle_time in Minuten um diese besser plotten zu können.
#Hier habe ich nicht weiter gemacht da Agela und ich uns geeinigt hatten, dass sie sich um das plotten kümmert.

data['idle_time_minutes'] = data['idle_time'].dt.total_seconds() / 60
data['idle_time_minutes'] = data['idle_time_minutes'].astype(int)

data.head(100)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [1]:
#erster Plotversuch
#Hier habe ich nicht weiter gemacht da Agela und ich uns geeinigt hatten, dass sie sich um das plotten kümmert.

plt.hist(data_cleaned['idle_time_minutes'], bins=1000, edgecolor='black')

plt.xlabel('Idle Time (Minutes)')
plt.ylabel('Frequency')
plt.title('Idle Time Distribution')

plt.ticklabel_format(style='plain')

plt.xlim(100)
plt.ylim(100)

plt.show()

NameError: name 'plt' is not defined